*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif, tahoma;
}

.SLIDE_BG
{
  position: fixed;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  /* animation: slideBg 20s linear infinite 0s;
  animation-timing-function: ease-in-out; */
  background-image: url(images/5.Modinos.jpg);
  background-color: #00203E;
/* background: linear-gradient(90deg, rgba(85,86,81,1) 38%, rgba(151,150,154,1) 77%, rgba(170,168,175,1) 93%); */
}

.SLIDE_BG h1
{
  font-size: 3vw;
  padding-left: 50%;
  text-align: right;
  position: fixed;
  right: 20%;
  top: 20%;
  color: white;
}

/* @keyframes slideBg {
  0% {
    background-image: url(images/5.Modinos.jpg);
  }
  25% {
    background-image: url(images/creonte.png);
  }
  50% {
    background-image: url(images/perouze.jpg);
  }
  75% {
    background-image: url(images/Pollione.jpg);
  }
  100% {
    background-image: url(images/Siegfried.jpg);
  }
} */

.sidebar
{
  background-color: #110c11;
  position: fixed;
  width: 5%;
  height: 100%;
  writing-mode: vertical-rl;
text-orientation: mixed;
transform: rotate(-180deg);
/* -webkit-box-reflect: above 0.5px linear-gradient(#0005, transparent); */

}

.sidebar h2
{
  position: relative;
  top: 60%;
  right: 20%;
  color: white;
  font-size: 2.5vw;
}

.navbar
{
  position: fixed;
  top: 0;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #050801;
  transition: 0.5s;

}

.navbar:hover
{
  position: fixed;
  left: 0;
  transition: 0.5s;
}
.navbar a
{
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  margin: 20px 0;
  color: #03e9f4;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 0.1vw;
  /* -webkit-box-reflect: below 0.5px linear-gradient(transparent, #0005); */
  }
.navbar a:nth-child(1)
{
  filter: hue-rotate(290deg);
}

.navbar a:nth-child(3)
{
  filter: hue-rotate(110deg);
}

.navbar a:nth-child(4)
{
  filter: hue-rotate(180deg);
}
.navbar a:nth-child(5)
{
  filter: hue-rotate(320deg);
}

  .navbar a:hover
  {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4,
  }
.navbar a span
{
  position: absolute;
  display: block;
}
.navbar a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 2s linear infinite;
}
@keyframes animate1
{
0%
{
  left: -100%;
}
50%,100%
{
  left: 100%;
}
}

.navbar a span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 2s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate2
{
0%
{
  top: -100%;
}
50%,100%
{
  top: 100%;
}
}

.navbar a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3
{
0%
{
  right: -100%;
}
50%,100%
{
  right: 100%;
}
}

.navbar a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}
@keyframes animate4
{
0%
{
  bottom: -100%;
}
50%,100%
{
  bottom: 100%;
}
}



.container
{


}

.container ul
{ position: relative;
  top: 0;
  left: 5%;
  list-style: none;
  max-width: 1000px;
  background-color: #110c11;
  transform-origin: center;
  color: white;
  transform: perspective(3000px) rotateY(0deg);
  transition: 1s;

}

.container:hover ul
{
  opacity: 0.3;
  transform: perspective(3000px) rotateY(20deg);
  transition: 1s;
  left:15%;
}
.container ul:hover
{
  transform: perspective(3000px) rotateY(0deg);
  opacity: 1;
  transition: 1s;
  left:5%;
}
.container h4 {
	color:red;
}

.container li
{

  padding: 8px;
}

.container h1 {
	color:white;
	font-size:2em;
	padding-top:30px;
	padding-left:18px;
}

.container footer h3 {
	display:inline;
	margin: 1em;
	}
.container h3{
	padding-right:20px;
}
.container ul a
{
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  margin: 20px 0;
  color: #03e9f4;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 0.1vw;
  /* -webkit-box-reflect: below 0.5px linear-gradient(transparent, #0005); */
  }
  .container ul a:nth-child(1)
{
  filter: hue-rotate(290deg);
}

.container ul a:nth-child(3)
{
  filter: hue-rotate(110deg);
}

.container ul a:nth-child(4)
{
  filter: hue-rotate(180deg);
}
.container ul a:nth-child(5)
{
  filter: hue-rotate(320deg);
}

  .container ul a:hover
  {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4,
  }
.container ul a span
{
  position: absolute;
  display: block;
}
.container ul a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 2s linear infinite;
}
@keyframes animate1
{
0%
{
  left: -100%;
}
50%,100%
{
  left: 100%;
}
}

.container ul a span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 2s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate2
{
0%
{
  top: -100%;
}
50%,100%
{
  top: 100%;
}
}

.container ul a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3
{
0%
{
  right: -100%;
}
50%,100%
{
  right: 100%;
}
}

.container ul a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}
@keyframes animate4
{
0%
{
  bottom: -100%;
}
50%,100%
{
  bottom: 100%;
}
}
