body{
	background: black url(images/5.Modinos.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right;
	
}

h4 {
	color:red;
}

ul{list-style:none;
background-color:black;
color:white;

width:70%;

}

h1 {
	color:white;
	font-size:2em;
	padding-top:30px;
	padding-left:18px;
}

footer h3 {
	display:inline;
	margin: 1em;
	}
h3{
	padding-right:20px;
}
a {
	color:rgb(51,204,255);
	text-decoration: none;
	padding: 15px
}

a:hover {
	text-decoration: underline;
	color:rgb(0,0,153);
}


p {
	color:white;
}